@font-face {
    font-family: "Arkeo BT W01 Regular";
    src: url("https://db.onlinewebfonts.com/t/4a402d96e7d7c3ae3e8ee034d2635b27.eot");
    src: url("https://db.onlinewebfonts.com/t/4a402d96e7d7c3ae3e8ee034d2635b27.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/4a402d96e7d7c3ae3e8ee034d2635b27.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/4a402d96e7d7c3ae3e8ee034d2635b27.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/4a402d96e7d7c3ae3e8ee034d2635b27.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/4a402d96e7d7c3ae3e8ee034d2635b27.svg#Arkeo BT W01 Regular")format("svg");

    /* font-family: "Arkeo BT W01 Regular"; */
}

:root {
    --primary: #00fd11;
    --secondary: #0048fc;
    --terciary: #242021;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: box-sizing;
    font-family: "Arkeo BT W01 Regular";
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--terciary);
    border-bottom: 5px solid var(--primary);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

header img {
    width: 25%;
}

body {
    background: linear-gradient(to right, rgba(36, 32, 33, 0.5), rgb(36, 32, 33, 0.5)), url('img/bg.png');
}

main {
    max-width: 1200px;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--terciary);
    border-top: 5px solid var(--primary);
}