@font-face {
    font-family: "Arkeo BT W01 Regular";
    src: url("https://db.onlinewebfonts.com/t/4a402d96e7d7c3ae3e8ee034d2635b27.eot");
    src: url("https://db.onlinewebfonts.com/t/4a402d96e7d7c3ae3e8ee034d2635b27.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/4a402d96e7d7c3ae3e8ee034d2635b27.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/4a402d96e7d7c3ae3e8ee034d2635b27.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/4a402d96e7d7c3ae3e8ee034d2635b27.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/4a402d96e7d7c3ae3e8ee034d2635b27.svg#Arkeo BT W01 Regular")format("svg");

    /* font-family: "Arkeo BT W01 Regular"; */
}

:root {
    --primary: #00fd11;
    --secondary: #0048fc;
    --terciary: #242021;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: box-sizing;
    font-family: "Arkeo BT W01 Regular";
}

header {
    background-color: var(--terciary);
    border-bottom: 5px solid var(--primary);}

body {
    background: linear-gradient(to right, rgba(36, 32, 33, 0.5), rgb(36, 32, 33, 0.5)), url('img/bg.png') no-repeat center center fixed;
    background-size: cover;
}

.app {
    background-color: rgba(36, 32, 33, 0.8);
    border: 3px solid var(--primary);
    border-radius: 10px;
    width: 200px;
    height: 300px;
    transition: all linear 0.3s;
    overflow: hidden;
}

.app img {
    transform: scale(1);
    transition: all linear 0.1s;
}

.app:hover img {
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: var(--primary);
}

a:hover {
    color: var(--secondary);
}

.card {
    color: var(--primary);
    background-color: var(--terciary);
    border: var(--primary);
}

footer {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    font-family: "Arkeo BT W01 Regular";
    background-color: var(--terciary);
    border-top: 5px solid var(--primary);
    color: var(--primary);
}

h3 {
    color: var(--secondary);
}

.copy {
    color: var(--secondary);
}

i {
    color:var(--secondary);
}